.main{
    text-align: center;
    color: white;
    background-color: rgb(206, 52, 24);
}


.sitepu-footer {
    background-color: #f3f3f2;
    padding-top: 50px;
    padding-bottom: 10px;
}

.sitepu-footer h4 {
    color: #333;
    font-size: 11px;
    font-weight: 700;
}

.sitepu-footer p {
    color: #888;
    font-size: 11px;
}

.sitepu-footer .footer-wid {
    list-style:none;
    padding:0;
    margin-bottom:45px;
    word-break:break-all;
}
.sitepu-footer .footer-wid a, .sitepu-footer .region a{
     color: #555;
     font-size: 11px;
}

.sitepu-footer .footer-wid li {
    margin-bottom: 5px;
    line-height: 1.3;
}

.sitepu-footer .footer-legal .copyright{ 
    margin-right:60px;
}
.sitepu-footer .footer-legal .legal-wid .item{
    padding-right:13px;
    border-right:1px solid #ccc;
    margin:0 13px 0 0;
}
.sitepu-footer .footer-legal .legal-wid .item:last-child {
    border-right:none;
}
.sitepu-footer .footer-legal .legal-wid .item h5 {
    font-size:11px;
    margin-top:0;
    margin-bottom:0;
}
.sitepu-footer .region {margin-bottom:20px}
.sitepu-footer .region img{margin-right:7px}
@media (min-width:768px){.sitepu-footer .region{margin-bottom:0}}
.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
    background-color:#000!important;
}
.navbar-dark .navbar-nav .nav-link{ 
    color:#fff;
    font-size:13px;
}
.navbar-dark .navbar-nav .nav-link .apple-logo{ 
    font-size:21px;
    line-height:0;
}
body{padding-top:50px}
.diniari{ 
    padding-top:50px;
    text-align:center;
    margin-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}
.diniari h1,.widya h3 {
    font-size:32px;
    font-weight:700;
}
.diniari h2 {
    font-size:21px;
    font-weight:400;
}
.diniari .wid {
    font-size:21px;
    margin-bottom:50px;
}
.widya .wid {
    font-size:17px;
    margin-bottom:80px;
}
.diniari .wid .learn-more,.widya .wid .learn-more {
    margin-right:20px;
}
/* .diniari.iphone-x {
    background-color:#131313;
} */
.diniari.ipad {
    background-color:#f4f3f4;
}
/* .diniari.iphone11-pro {
    background-color:#000;
    padding-bottom:50px; */

.widya.dark,.widya.dark a,.diniari.dark,.diniari.dark a {
    color:#fff;
}
.diniari .wid.small-link-margin {
    margin-bottom:0;
}
.widya .wid.small-link-margin {
    margin-bottom:10px;
}
.widya {
    height:550px;
    padding-top:40px;
    margin:0 0 10px;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
.widya h4 {
    font-size:19px;
    font-weight:400;
}
.widya.behind-the-mac.dark {
    padding-top:420px;
}
.diniaris-grid {
    padding-right:0;
}
@media (min-width:576px){ 
    .diniari{ 
        padding-top:100px;
        padding-left:0;
        padding-right:0;
    }
    .diniari h1 {
        font-size:56px;
        font-weight:700;
    }
    .diniari h2 {
        font-size:27px;
        font-weight:400;
    }
    .diniari .wid {
        font-size:21px;
        margin-bottom:80px;
    }
    .diniari.macbook-pro {
        padding-bottom:0;
    }
    .widya {
        margin:0 0 10px 10px;
        padding-left:0;
        padding-right:0};
    .diniaris-grid{
        padding-right:10px;
    }
}
.widya.iphone-8 {
    background-color:#f9f0eb;
}
.widya.air-pods {
    background-color:#fafafa;
}
.widya.apple-watch {
    background-color:#eee;
}
.widya h5 { 
    color:#ce2626;
    font-size:16px;
    font-weight:700;
}



#bio {
    text-align: center;
    left: 10%;
    margin-top: 3%;
    font-weight: bolder;
    color: white;
}

#bio1 {
    text-align: center;
    left: 10%;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bolder;
    color: rgb(124, 89, 89);
}

#foto {
    margin-left: 33%;
    margin-top: 3%;
}

#hub {
    text-align: center;
    margin-top: 0%;
}